includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    # Determines the level of checking. 5 is a good starter point 8 is max
    level: 5

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Call to an undefined method ReflectionType::getName\(\)#'

    excludePaths:
        - vendor/*
        - src/ModelInterface.php # This is a legacy file that will be removed soon
