name: PHPStan

on:
  push:
    paths:
      - '**.php'
      - phpstan.neon.dist

jobs:
  phpstan:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['8.2', '8.3', '8.3', '8.4']

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest

      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github
